@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    scroll-behavior: smooth;
  }

  body ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  body ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: none;
  }

  body ::-webkit-scrollbar-thumb {
    background-color: #DBDBDE;
    border-radius: 8px;
    box-shadow: none;
  }

  body ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(66, 66, 66, 0.4);
  }

  label {
    @apply block mb-2;
  }

  input,
  textarea {
    @apply block w-full px-3 py-2 text-sm text-gray-900 rounded focus:outline-none border border-gray-300;
  }

  select {
    @apply w-full pl-4 pr-8 py-2 border appearance-none rounded focus:outline-none
    bg-no-repeat border-gray-300;
    /* bg-[url('./assets/img/common/dropdown-arrow.png')] */
    background-position: 98%;
    background-size: 24px;
  }

  button {
    @apply inline-block cursor-pointer rounded-md px-4 py-1 w-fit;
  }

  svg {
    @apply w-6 h-6 fill-current cursor-pointer;
  }
}

@layer components {
  .df,
  .dfc,
  .dc {
    @apply flex gap-2;
  }

  .df, .dc {
    @apply items-center;
  }

  .dfc {
    @apply flex-col;
  }

  .dc {
    @apply justify-center;
  }

  .scroll-y {
    @apply flex-1 overflow-y-auto;
  }

  .no-scroll-bar::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  .mini-scroll-bar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }


  /* login */
  .anime-input-placeholder {
    @apply absolute top-1/2 left-2 -translate-y-1/2 cursor-text;
    transition: all .3s ease;
  }

  .anime-input:valid + .anime-input-placeholder,
  .anime-input:focus + .anime-input-placeholder {
    font-size: 14px;
    color: #333;
    top: -10px;
    left: 0;
  }

  .auth-bg {
    background-image: url(./assets/svg/auth/bg3.svg);
  }

  .home-header {
    background-image: url(./assets/svg/big.svg);
  }
}